.idea
.DS_Store

# We always ignore .env
.env

# System folder for caches, etc.
.etmp
.cache

# System folder for VSCode local history plugin
.history
#.vscode

app/build
dist
node_modules

reports
npm-debug.log
deployments.log
yarn-error.log
package-lock.json
yarn.lock
lerna-debug.log
.prettierrc
.vscode


