span.preview
{
    margin-left: 10px;
    cursor: pointer;
}

div.previewWindow
{
    display: none;
    width: 604px;
    margin: 0;
    padding: 20px 10px 10px 66px;
    text-align: left;
    background-color: #eeeeee;
}

div.previewWindow div.subtle
{
    margin-top: 8px;
    padding: 0px;
    outline: 4px solid #fffff9;
    border-top: 4px solid #fffff9;
    border-left: none;
    border-bottom: 4px solid #fffff9;
}

p.previewWindowEnd
{
    margin: 10px 0px 0px;
    padding: 10px 2px 0 2px;
    color: #778087;
    text-align: right;
    font-size: 14px;
    line-height: 1.6;
    border-top: 1px solid #e2e2e2;
}

p.previewWindowEnd span
{
    margin-right: 6px;
    margin-bottom: 0px;
    cursor: pointer;
}