span.preview, span.pass
{
    cursor: pointer;
}

span.preview:hover, span.pass:hover
{
    border-bottom: 1px solid;
}

div.previewWindow
{
    display: none;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin: 10px 4px;
    padding: 12px 5px 0px;
    text-align: left;
}

div.previewWindow div.subtle
{
    margin-top: 16px;
    padding: 0px;
    border-left: none;
    border-bottom: none;
    background: transparent;
}

p.previewWindowEnd
{
    margin: 12px 0px 0px;
    padding: 6px 0px 2px;
    color: #778087;
    text-align: right;
    font-size: 14px;
    line-height: 1.6;
    border-top: 1px solid #e2e2e2;
}

p.previewWindowEnd span
{
    margin-right: 6px;
    margin-bottom: 0px;
    cursor: pointer;
}
