/* 最近回复 */
.relateReply {
    position: absolute;
    opacity: 0;
    box-shadow: 0 8px 24px var(--menu-shadow-color, #8e8e8e);
    border-radius: 10px;
    padding: 12px 10px 6px;
    font-size: 14px;
    line-height: 1.6;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 602px;
    background-color: var(--box-background-color, #fff);
    transition: opacity .3s, margin .3s;
}

.relateReplyInfo {
    font-size: 12px;
    color: var(--box-foreground-color, #ccc);
    text-align: right;
    margin-top: 8px;
    padding-top: 6px;
    border-top: 1px dashed #eee;
}

.relateReplyInfo a {
    cursor: pointer;
    float: left;
}

/* 相关对话 */
.wrapper {
    position: fixed;
    top: 80px;
    left: calc(50vw - 340px);
    width: 680px;
    max-height: calc(100vh - 200px);
    box-shadow: 0px 0px 20px var(--menu-shadow-color, #8e8e8e);
    background: var(--box-background-color, #fff);
    border-radius: 3px;
    padding: 20px;
    overflow: auto;
    color: var(--box-foreground-color);
}

.wrapper .close {
    position: fixed;
    top: 90px;
    left: calc(50vw - 330px);
    cursor: pointer;
}

.wrapper .reply {
    font-size: 14px;
    max-width: 487px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    float: right;
    min-width: 50%;
    transition: opacity .3s;
}

.wrapper .reply:hover {
    opacity: 1 !important;
}

/* 表情、上传图片按钮 */
#reply-box div.cell.flex-one-row div:nth-child(1)>a {
    cursor: pointer;
    margin: 0 2px;
}

/* 表情列表 */
ul.emoticon {
    margin: 0px;
}

ul.emoticon li {
    display: inline-block;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 6px 3px 0px;
}

/* 淡化新用户评论 */
.cell {
    transition: opacity .3s;
}

.cell:hover {
    opacity: 1 !important;
}

/* 超长回复 */
div[id^=r_] .reply_content.flod {
    max-height: 300px;
    overflow: hidden;
    transition: max-height .3s;
}

div[id^=r_] .reply_content.flod:hover {
    max-height: 1000px;
    overflow: auto;
    transition: max-height .3s .2s;
}


/* 已感谢样式 hook */
.thank_area.thanked {
    background: none;
}

/* 楼中楼 */
.nested {
    max-height: 0px;
    overflow: hidden;
    background-color: var(--box-background-color);
    margin-left: 60px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 12px !important;
    width: calc(100% - 90px);
    transition: all .3s;
}

.cell:hover .nested {
    max-height: 3600px;
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
    outline: 1px solid var(--box-border-color);
    transition: all .3s .2s;
}

.nested .comment {
    display: flex;
    padding: 10px;
    border-bottom: 1px dashed var(--box-border-color);
}

.nested .comment .avatar {
    width: 32px;
    margin-right: 10px;
    transition: all .1s;
}

.nested .comment p {
    margin: 0;
    color: gray;
    font-weight: 600;
}

.nested .no {
    float: right;
}

.nested .comment .comment_content {
    flex: 1;
}

.nested .comment .reply_content {
    font-size: 12px !important;
}

.nested .comment .reply_content img {
    max-width: 60%;
}